*{
    padding: 0;
    margin: 0;
    font-family: serif;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#70f0f0, #316e92);
}
.login{
    width: 80%;
    height: 80%;
    display: flex;
    padding: 10px;
    flex-flow:  wrap;
    background: rgba(255, 255, 255, 0.13);
    border-radius: 15px;
    box-shadow: -2px 2px 3px  rgb(0, 0, 0);
}
.login form{
    height: 40%;
    align-self: center;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    gap: 10px;
    position: absolute;
    top: 35%;
    right: 20%;
}
.login form input{
height: 40px;
width: 100%;
border-radius: 15px;
font-size: 20px;
padding-left: 10px;
outline: none;
border: none;
box-shadow: 0 5px 10px black;
}
.login .title{
    margin-top: 40px;
     display: inline-flex;
     height: 200px;
        position: absolute;
        left: 30%;
        right: 30%;
        text-align: center;
    }
.login .title h2{
    color: rgb(32, 16, 15);
    text-shadow: 5px 5px 10px rgb(17, 10, 8);
width: 100%;
height: 30px;
font-size: 40px;
}
.sub{
    background-color: rgb(35, 243, 208);
    color: aliceblue;
    margin-top: 40px;
    transition: 0.5s;
}
.sub:hover{
    cursor: pointer;
    background-color: #79efffe1 ;
    box-shadow: 0 5px 15px #52f3ffe1 , 0px -5px 10px #4cfcede1;
}
.login .p{
    height: auto;
    width: 100%;
    align-self: flex-end;
    font-size: 30px;
    color: aliceblue;
    margin-bottom: 30px;
 text-align: center;
}
.login .p p{
    text-transform: capitalize;
    
}
